<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marka | Branding, Digital, Marketing, Reclama and Advertising</title>
    <meta name="description" content="Marka gives you the best Branding, Advertising, Marketing, Reclama in Novosibirsk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="/stylesheets/socicon.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/stylesheets/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/stylesheets/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/stylesheets/theme-darkred.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">
    {{{body}}}
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/isotope.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/scrollreveal.min.js"></script>
    <script src="/javascripts/parallax.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580d9d52b185ecaa"></script> 
  </body>
</html>
